<li class="nav-item dropdown">
  <a class="nav-link count-indicator dropdown-toggle" id="notificationDropdown" href="#" data-toggle="dropdown">
    <i class="mdi mdi-bell-ring"></i>
    <span class="count">{{ count }}</span>
  </a>
  <div class="dropdown-menu dropdown-menu-right navbar-dropdown preview-list" aria-labelledby="notificationDropdown">
    <a class="dropdown-item">
      <p class="mb-0 font-weight-normal float-left">{{ title }}
      </p>
      <span class="badge badge-pill badge-warning float-right">View all</span>
    </a>
    <dropdown-item *ngFor="let item of items" [item]="item"></dropdown-item>
  </div>
   
</li>